html {
  font-size: 16px;
  letter-spacing: 3px;
}
body {
  position: relative;
  margin: 0;
}
img {
  max-width: 100%;
}
header {
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 1780px;
  z-index: 99;
}
header .head_contain {
  padding: 0 15px;
  display: flex;
  align-items: center;
}
header .head_contain a.logo {
  font-size: 2.75rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 5px;
  text-decoration: none;
}
header .head_contain a.logo:hover {
  opacity: 0.8;
}
header .head_contain ul.head_nav {
  padding-left: 0;
  list-style: none;
  margin: 0;
  margin-left: auto;
  display: flex;
}
header .head_contain ul.head_nav li {
  margin-right: 80px;
}
header ul.head_nav li a {
  color: rgb(2 107 164);
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 300;
}
header .head_contain ul.head_nav li a:hover {
  opacity: 0.8;
}
header .head_contain .search {
  position: relative;
}
header .head_contain .search::before {
  content: '\f002';
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  font-size: 1.75rem;
  color: rgb(2 107 164);
}
header .head_contain .search input[type='text'] {
  font-size: 1.75rem;
  border: 1px solid rgb(2 107 164);
  background-color: unset;
  padding: 10px 0 10px 70px;
  border-radius: 50px;
  width: 120px;
  outline: none;
  transition: width 0.3s ease-in;
}
header .head_contain .search input[type='text'].active {
  width: 220px;
}
header .head_contain .search input[type='text']::placeholder {
  color: rgb(2 107 164);
  font-weight: 300;
}
header .head_contain .search_btn {
  font-size: 1.75rem;
  color: rgb(2 107 164);
  display: none;
  cursor: pointer;
}
@media (max-width: 1700px) {
  header {
    top: 40px;
  }
  header .head_contain ul.head_nav li {
    margin-right: 50px;
  }
}
@media (max-width: 1450px) {
  header .head_contain .search {
    position: fixed;
    top: -40px;
    left: 0;
    background-color: #fff;
    width: calc(100% - 30px);
    padding: 10px 15px;
    display: none;
  }
  header .head_contain .search input[type='text'] {
    width: 500px;
  }
  header .head_contain .search_btn {
    display: block;
  }
}
@media (max-width: 1200px) {
  header {
    top: 0;
  }
}

.contain {
  max-width: 1658px;
  margin: 0 auto;
}

footer {
  background-color: rgb(1 133 205);
  padding: 70px 0 100px 0;
}
footer .con {
  display: flex;
}
footer .con .left {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .con .left a.foot_logo {
  margin-bottom: 60px;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  letter-spacing: 10px;
}
footer .con .left a.foot_logo:hover {
  opacity: 0.8;
}
footer .con .left .social {
  display: flex;
  margin-bottom: 60px;
}
footer .con .left .social a {
  font-size: 4rem;
  margin-right: 35px;
  color: #fff;
  text-decoration: none;
}
footer .con .left .social a:hover {
  opacity: 0.8;
}
footer .con .left .social a:last-child {
  margin-right: 0;
}
footer .con .left .business_hours {
  display: flex;
  font-size: 1.75rem;
  color: #fff;
  line-height: 1.75;
  letter-spacing: 5px;
  font-weight: 300;
}
footer .con .right {
  flex: 3;
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
}
footer .con .right .info {
  max-width: 700px;
  color: #fff;
  font-size: 2rem;
}
footer .con .right .info .item {
  font-weight: 300;
  margin-bottom: 25px;
  letter-spacing: 3px;
  display: flex;
}
footer .con .right .info .item label {
  margin-right: 45px;
}
@media (max-width: 1200px) {
  footer .con {
    flex-wrap: wrap;
  }
  footer .con .left {
    flex: 0 0 100%;
    align-items: flex-start;
  }
  footer .con .right {
    flex: 0 0 100%;
    justify-content: flex-start;
  }
}
