@import url(./common.css);

.about_page {
  max-width: 1655px;
  margin: 0 auto;
  padding-left: 140px;
}
.about_page .top {
  display: flex;
}
.about_page .top .text {
  margin-right: 60px;
  flex: 1;
  padding-top: 80px;
  padding-bottom: 175px;
}
.about_page .top .text .title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #4d4d4d;
  position: relative;
  margin-bottom: 50px;
  letter-spacing: 10px;
}
.about_page .top .text .title::before {
  content: 'ABOUT US';
  font-size: 9.75rem;
  font-weight: 700;
  letter-spacing: 10px;
  color: #eee;
  position: absolute;
  z-index: -1;
  top: 40%;
  left: 130px;
  transform: translateY(-50%);
}
.about_page .top .text .desc {
  font-size: 2rem;
  line-height: 2;
  letter-spacing: 5px;
}
.about_page .top .item_list {
  flex: 0 0 340px;
  background-color: rgb(18 138 201);
  margin-right: 88px;
  z-index: 2;
  padding: 130px 105px 70px 105px;
}
.about_page .top .item_list .item {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 300;
  margin-bottom: 60px;
  color: #fff;
}
.about_page .top .item_list .item:last-child {
  margin-bottom: 0;
}
.about_page .top .item_list .item .pic {
  margin-bottom: 20px;
}

.about_page .bottom {
  background-color: #dedede;
  display: flex;
  justify-content: flex-end;
  padding: 160px 75px;
  position: relative;
  margin-top: -125px;
}
.about_page .bottom .pic {
  position: absolute;
  top: 50%;
  left: -140px;
  transform: translateY(-50%);
  width: 615px;
  box-shadow: 2px 2px 10px #333;
}
.about_page .bottom .text {
  flex: 0 0 860px;
}
.about_page .bottom .text .title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 60px;
  color: #4d4d4d;
}
.about_page .bottom .text .desc {
  font-size: 2rem;
  line-height: 2;
}

.float_page {
  padding-top: 150px;
  background-color: #eaeaea;
}
.float_page .title {
  text-align: center;
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  font-size: 2.75rem;
  font-weight: 700;
  color: #0185cd;
  padding-bottom: 50px;
  margin-bottom: 140px;
  border-bottom: 2px solid #0185cd;
}
.float_page .list {
  display: flex;
  margin-bottom: 170px;
}
.float_page .list .item {
  flex: 1;
  text-align: center;
}
.float_page .list .item .image {
  max-width: 225px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
}
.float_page .list .item .image::after {
  content: '';
  background-image: url(../images/float/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: -30%;
  transform: translateY(-50%);
}
.float_page .list .item:last-child .image::after {
  display: none;
}
.float_page .list .item .name {
  color: #0185cd;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.float_page .list .item .desc {
  font-size: 1.5rem;
}
.float_page .contact_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 120px;
}
.float_page .contact_btn a {
  width: 170px;
  height: 50px;
  border-radius: 50px;
  color: #fff;
  background-color: #0185cd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;

  text-decoration: none;
}
.float_page .contact_btn a:hover {
  opacity: 0.8;
}
.float_page .contact_btn .txt {
  font-size: 1.65rem;
  color: #585858;
  margin-bottom: 45px;
}
